.airportFilters {
	position: absolute;
	z-index: 1;
	font-size: 15px;
	border: 1px solid #bbb;

	top: 10px;
	left: 10px;

	opacity: 0.90;
	color: #222;

	cursor: pointer;

	width: 40px;
	background-color: #eee;
	text-align: center;

	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;

	overflow: hidden;

	:active {
		background-color: #999;
	}

	.airport-filter {
		border-top: 1px solid #fff;
		border-bottom: 1px solid #aaa;
		padding-top: 1px;
		padding-bottom: 1px;
	}

	:first-child {
		border-top: none;
	}

	:last-child {
		border-bottom: none;
	}
}